localhost,
zipper.dev.local {
	# Handle the website
	handle_path /home {
		reverse_proxy https://www.zipper.works {
			header_up Host {upstream_hostport}
		}
	}
	reverse_proxy /about https://www.zipper.works {
		header_up Host {upstream_hostport}
	}

	# Handle blog
	reverse_proxy /blog localhost:3004
	reverse_proxy /blog/* localhost:3004

	# Everything else
	reverse_proxy localhost:3000
}
